@model IEnumerable<Recruit.MVC.Models.Idioma>

@{
    ViewData["Title"] = "Index";
}

<h2>Índice de idioma</h2>

<p>
    <br />
    <a asp-action="Create">Create New</a>
    <br />
</p>
<table class="table">
    <thead>
        <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.Pkidioma)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Descripcionidioma)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Pkidioma)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Descripcionidioma)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Pkidioma }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
