@model IEnumerable<Recruit.MVC.Models.ConfiguracionModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CORREOCONFIGURACION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PATHCONFIGURACION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PKCONFIGURACION)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CORREOCONFIGURACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATHCONFIGURACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PKCONFIGURACION)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PKCONFIGURACION }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
