@model Recruit.MVC.Models.UsuarioModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UsuarioModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pkusuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pkusuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombreusuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombreusuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Loginusuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Loginusuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Passwordusuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Passwordusuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cedulausuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cedulausuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activousuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activousuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Statusregister)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Statusregister)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fkrol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fkrol)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
