@model Recruit.MVC.Models.UsuarioModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UsuarioModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pkusuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pkusuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombreusuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombreusuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Loginusuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Loginusuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Passwordusuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Passwordusuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cedulausuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cedulausuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activousuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activousuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Statusregister)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Statusregister)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fkrol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fkrol)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Pkusuario }) |
    <a asp-action="Index">Back to List</a>
</div>
